#!/bin/sh

role='{{getv "/host/role"}}'
if [ "x$role" != "xhbase-master" ]
then
    exit 0
fi


HBASE_HOME=/opt/hbase
echo "clean local jars of hbase-regionservers.."
for regionserver in `cat "${HBASE_HOME}/conf/regionservers"`; do
  if [ "x${regionserver}" != "x" ]; then
    ssh "${regionserver}" "rm /data/hbase/tmp/local/jars/*.jar"
  fi
done


echo "rolling restart regionservers.."
USER=root ${HBASE_HOME}/bin/rolling-restart.sh --rs-only


echo "enable balancer .."
BALANCER_STATE=$(echo 'balancer_enabled' | /opt/hbase/bin/hbase --config ${HBASE_HOME}/conf shell -n | tail -1)
if [ "x${BALANCER_STATE}" = "xtrue" ]
then
  echo "balancer is enabled, ignore."
else
  echo "switch balancer to true.."
  echo balance_switch true | /opt/hbase/bin/hbase shell
fi
